<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content: center;"><h1>Edit Transaction</h1></div>
    <div>
        <form action="/edit/<%= idUser %>" method="post">
            <label for="">Category</label>
            <select name="name" id="">
                <% dataOption[0].forEach((element) => {%>
                    <option value=""><%= element.name %></option>
                <% }) %>
            </select><br>
            <label for="">Nama Item</label>
            <select name="name" id="">
                <% dataOption[1].forEach((element) => {%>
                    <option value=""><%= element.name %></option>
                <% }) %>
            </select><br>
            <label for="">Huge?</label>
            <select name="isHuge" id="">
                <option value="true">Y</option>
                <option value="false" selected>N</option>
            </select><br>
            <label for="">Liquid</label>
            <select name="isLiquid" id="">
                <option value="true">Y</option>
                <option value="false" selected>N</option>
            </select><br>
            <label for="">Pick Up Location</label>
            <input type="text" name="pickUpLocation" value="<%= dataOption[2][0].pickUpLocation %>"><br>
            <label for="">Drop Location</label>
            <input type="text" name="dropLocation" value="<%= dataOption[2][0].dropLocation %>"><br>
            <label for="">Bill</label>
            <input type="number" name="bill" value="<%= dataOption[2][0].bill %>"><br>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>